<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de Conta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='bolaverde 3.png') }}" alt="Bola Verde">
    <h1 class="titulo">Criação de Conta</h1>
    <form action="/cadastrar" method="post">
        <input placeholder="nome" type="text" id="nome" name="nome" required>  
        <input placeholder="email" type="email" id="email" name="email" required>  
        <input placeholder="senha" type="password" id="senha" name="senha" required>  
        <button type="submit">Criar Conta</button>
    </form>
</body>
</html>
