<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>
    <img src="templates/bolaverde 3.png" alt="">
    <h1 class="titulo" >Criação de Conta</h1>
    <form action="/cadastrar" method="post">
                <input placeholder="nome" type="text" id="nome" name="nome" required>  
  

                <input placeholder="email" type="email" id="email" name="email" required>  
  

                <input placeholder="senha" type="password" id="senha" name="senha" required>  
  

        <button type="submit">Criar Conta</button>
    </form>
    <!-- Remova esta linha se ela não for necessária, pois é um formulário duplicado e sem conteúdo -->
    <!-- <form action="/CriacaoDeConta.php" method="post"></form> -->
</body>
</html>
