<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Usuários</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='iconeUser.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="barra-superior">
        <button class="menu-button">
            <img src="{{ url_for('static', filename='TresPontos.png') }}" alt="Menu">
        </button> 
        
        <form action="{{ url_for('search') }}" method="GET" class="search-container">
            <input placeholder="Pesquisar" class="search-input" type="text" name="q">
            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                <img src="{{ url_for('static', filename='lupa.png') }}" alt="Ícone de pesquisa"> 
            </button>
        </form>
        </header>

    <main class="content">
        <div id="usuarios-container">
            {% if usuarios %}
                {% for usuario in usuarios %}
                    <div class="usuario-card">
                        <img class="usuario-foto" src="{{ url_for('static', filename='iconeUser.png') }}" alt="Foto do usuário">
                        <div class="usuario-info">
                            <h3 class="usuario-nome">{{ usuario.nome }}</h3>
                            <p class="usuario-cidade">{{ usuario.cidade }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Nenhum usuário encontrado com este termo ou nenhum usuário cadastrado ainda.</p>
            {% endif %}
        </div>
    </main>

    <div class="floating-button-container">
        <div class="floating-button-bar"></div>
        <button id="adicionarUsuarioBtn" class="floating-button">
            <img src="{{ url_for('static', filename='bolaLogo.png') }}" alt="Adicionar usuário">
        </button>
    </div>
    <div class="entadaUserBotao-container">
        <div class="entadaUserBotao-bar"></div>
        <button id="entadaUserBotao" class="entadaUserBotao-button">
            <a href="#"><img src="{{ url_for('static', filename='BotaoUsuario.ico') }}" alt="Botão Usuário"></a>
        </button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
